apiVersion: argoproj.io/v1alpha1
kind: ArgoCD
metadata:
  name: openshift-gitops
  namespace: openshift-gitops
  annotations:
    argocd.argoproj.io/sync-options: ServerSideApply=true,Validate=false
    argocd.argoproj.io/sync-wave: '-50'
spec:
  applicationSet:
    resources:
      limits:
        cpu: "2"
        memory: 1Gi
      requests:
        cpu: 250m
        memory: 512Mi
    webhookServer:
      ingress:
        enabled: false
      route:
        enabled: false
{{ if .Values.gitops.applicationControllerResources }}
  controller:
    resources:
{{ toYaml .Values.gitops.applicationControllerResources | indent 6 }}
{{ end }}
{{ if .Values.gitops.kustomizeBuildOptions }}
  kustomizeBuildOptions: {{ .Values.gitops.kustomizeBuildOptions }}
{{end}}
  notifications:
    enabled: true
  resourceTrackingMethod: annotation
  resourceIgnoreDifferences:
    resourceIdentifiers:
    - group: metal3.io
      kind: BareMetalHost
      customization:
        jsonPointers:
        - /spec/online
    - kind: ServiceAccount
      name: pipeline
      jsonPointers:
        - /imagePullSecrets
        - /secrets
  resourceExclusions: |
    - apiGroups:
      - tekton.dev
      clusters:
      - '*'
      kinds:
      - TaskRun
      - PipelineRun
    - apiGroups:
      - internal.open-cluster-management.io
      clusters:
      - '*'
      kinds:
      - ManagedClusterInfo
  resourceHealthChecks:
    - group: operators.coreos.com
      kind: Subscription
      check: |
        health_status = {}
        health_status.status = "Healthy"
        health_status.message = "Temporary override due to an olm bug"
        return health_status
  rbac:
    policy: |
      g, system:cluster-admins, role:admin
      g, cluster-admins, role:admin
      g, global-admins, role:admin
    scopes: '[groups]'
  server:
    insecure: true
    route:
      enabled: true
      tls:
        termination: edge
        insecureEdgeTerminationPolicy: Redirect
  sso:
    provider: dex
    dex:
      openShiftOAuth: true
