apiVersion: nmstate.io/v1
kind: NodeNetworkConfigurationPolicy
metadata:
  name: mapping
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: '3'
spec:
  desiredState:
    ovn:
      bridge-mappings:
        - bridge: br-ex
          localnet: physical-network
          state: present
        - bridge: br-secondary
          localnet: trunk-network
          state: present
    interfaces:
      - name: br-secondary
        type: ovs-bridge
        state: up
        bridge:
          options:
            stp:
              enabled: false
          port:
            - name: enp2s0f1
  nodeSelector:
    node-role.kubernetes.io/master: ''
