apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: democratic-csi
resources:
  - democratic-csi-namespace.yaml
  - democratic-csi-iscsi-fast-externalsecret.yml
  - democratic-csi-iscsi-ssd-externalsecret.yml
  - democratic-csi-iscsi-cold-externalsecret.yml
  - democratic-csi-nfs-fast-externalsecret.yml
  - democratic-csi-nfs-ssd-externalsecret.yml
  - democratic-csi-nfs-cold-externalsecret.yml
  - democratic-csi-nvmeof-fast-externalsecret.yml
  - democratic-csi-nvmeof-ssd-externalsecret.yml
  - democratic-csi-nvmeof-cold-externalsecret.yml
  - allow-privileged-to-democratic-csi-iscsi-fast-config-node-sa-clusterrolebinding.yaml
  - allow-privileged-to-democratic-csi-iscsi-ssd-config-node-sa-clusterrolebinding.yaml
  - allow-privileged-to-democratic-csi-iscsi-cold-config-node-sa-clusterrolebinding.yaml
  - allow-privileged-to-democratic-csi-nfs-fast-config-node-sa-clusterrolebinding.yaml
  - allow-privileged-to-democratic-csi-nfs-ssd-config-node-sa-clusterrolebinding.yaml
  - allow-privileged-to-democratic-csi-nfs-cold-config-node-sa-clusterrolebinding.yaml
  - allow-privileged-to-democratic-csi-nvmeof-fast-config-node-sa-clusterrolebinding.yaml
  - allow-privileged-to-democratic-csi-nvmeof-ssd-config-node-sa-clusterrolebinding.yaml
  - allow-privileged-to-democratic-csi-nvmeof-cold-config-node-sa-clusterrolebinding.yaml
helmCharts:
# ---- iSCSI - fast pool ----
- name: democratic-csi
  namespace: democratic-csi
  includeCRDs: false
  releaseName: democratic-csi-iscsi-fast-config
  version: 0.15.1
  repo: https://democratic-csi.github.io/charts/
  valuesInline:
    controller:
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      rbac:
        enabled: true
        openshift:
          privileged: true
      hostNetwork: true
    node:
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      rbac:
        openshift:
          privileged: true
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
        localtimeHostPath: null
    csiDriver:
      name: "org.democratic-csi.iscsi-fast"
    storageClasses:
    - name: freenas-iscsi-fast-csi
      defaultClass: false
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
      parameters:
        fsType: ext4
      mountOptions: []
      secrets:
        provisioner-secret:
        controller-publish-secret:
        node-stage-secret:
        node-publish-secret:
        controller-expand-secret:
    volumeSnapshotClasses: []
    driver:
      existingConfigSecret: "democratic-csi-iscsi-fast-config"
      config:
        driver: freenas-iscsi
# ---- iSCSI - ssd pool ----
- name: democratic-csi
  namespace: democratic-csi
  includeCRDs: false
  releaseName: democratic-csi-iscsi-ssd-config
  version: 0.15.1
  repo: https://democratic-csi.github.io/charts/
  valuesInline:
    controller:
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      rbac:
        enabled: true
        openshift:
          privileged: true
      hostNetwork: true
    node:
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      rbac:
        openshift:
          privileged: true
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
        localtimeHostPath: null
    csiDriver:
      name: "org.democratic-csi.iscsi-ssd"
    storageClasses:
    - name: freenas-iscsi-ssd-csi
      defaultClass: false
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
      parameters:
        fsType: ext4
      mountOptions: []
      secrets:
        provisioner-secret:
        controller-publish-secret:
        node-stage-secret:
        node-publish-secret:
        controller-expand-secret:
    volumeSnapshotClasses: []
    driver:
      existingConfigSecret: "democratic-csi-iscsi-ssd-config"
      config:
        driver: freenas-iscsi
# ---- iSCSI - cold pool ----
- name: democratic-csi
  namespace: democratic-csi
  includeCRDs: false
  releaseName: democratic-csi-iscsi-cold-config
  version: 0.15.1
  repo: https://democratic-csi.github.io/charts/
  valuesInline:
    controller:
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      rbac:
        enabled: true
        openshift:
          privileged: true
      hostNetwork: true
    node:
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      rbac:
        openshift:
          privileged: true
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
        localtimeHostPath: null
    csiDriver:
      name: "org.democratic-csi.iscsi-cold"
    storageClasses:
    - name: freenas-iscsi-cold-csi
      defaultClass: false
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
      parameters:
        fsType: ext4
      mountOptions: []
      secrets:
        provisioner-secret:
        controller-publish-secret:
        node-stage-secret:
        node-publish-secret:
        controller-expand-secret:
    volumeSnapshotClasses: []
    driver:
      existingConfigSecret: "democratic-csi-iscsi-cold-config"
      config:
        driver: freenas-iscsi
# ---- NFS - fast pool ----
- name: democratic-csi
  namespace: democratic-csi
  includeCRDs: false
  releaseName: democratic-csi-nfs-fast-config
  version: 0.15.1
  repo: https://democratic-csi.github.io/charts/
  valuesInline:
    controller:
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      rbac:
        enabled: true
        openshift:
          privileged: true
      hostNetwork: true
    node:
      rbac:
        openshift:
          privileged: true
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
        localtimeHostPath: null
    csiDriver:
      name: "org.democratic-csi.nfs-fast"
    storageClasses:
    - name: freenas-nfs-fast-csi
      defaultClass: false
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
      parameters:
        fsType: nfs
      mountOptions:
        - noatime
        - nfsvers=4
      secrets:
        provisioner-secret:
        controller-publish-secret:
        node-stage-secret:
        node-publish-secret:
        controller-expand-secret:
    volumeSnapshotClasses: []
    driver:
      existingConfigSecret: "democratic-csi-nfs-fast-config"
      config:
        driver: freenas-nfs
# ---- NFS - ssd pool ----
- name: democratic-csi
  namespace: democratic-csi
  includeCRDs: false
  releaseName: democratic-csi-nfs-ssd-config
  version: 0.15.1
  repo: https://democratic-csi.github.io/charts/
  valuesInline:
    controller:
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      rbac:
        enabled: true
        openshift:
          privileged: true
      hostNetwork: true
    node:
      rbac:
        openshift:
          privileged: true
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
        localtimeHostPath: null
    csiDriver:
      name: "org.democratic-csi.nfs-ssd"
    storageClasses:
    - name: freenas-nfs-ssd-csi
      defaultClass: false
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
      parameters:
        fsType: nfs
      mountOptions:
        - noatime
        - nfsvers=4
      secrets:
        provisioner-secret:
        controller-publish-secret:
        node-stage-secret:
        node-publish-secret:
        controller-expand-secret:
    volumeSnapshotClasses: []
    driver:
      existingConfigSecret: "democratic-csi-nfs-ssd-config"
      config:
        driver: freenas-nfs
# ---- NFS - cold pool ----
- name: democratic-csi
  namespace: democratic-csi
  includeCRDs: false
  releaseName: democratic-csi-nfs-cold-config
  version: 0.15.1
  repo: https://democratic-csi.github.io/charts/
  valuesInline:
    controller:
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      rbac:
        enabled: true
        openshift:
          privileged: true
      hostNetwork: true
    node:
      rbac:
        openshift:
          privileged: true
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
        localtimeHostPath: null
    csiDriver:
      name: "org.democratic-csi.nfs-cold"
    storageClasses:
    - name: freenas-nfs-cold-csi
      defaultClass: false
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
      parameters:
        fsType: nfs
      mountOptions:
        - noatime
        - nfsvers=4
      secrets:
        provisioner-secret:
        controller-publish-secret:
        node-stage-secret:
        node-publish-secret:
        controller-expand-secret:
    volumeSnapshotClasses: []
    driver:
      existingConfigSecret: "democratic-csi-nfs-cold-config"
      config:
        driver: freenas-nfs
# ---- NVMe-oF - fast pool ----
- name: democratic-csi
  namespace: democratic-csi
  includeCRDs: false
  releaseName: democratic-csi-nvmeof-fast-config
  version: 0.15.1
  repo: https://democratic-csi.github.io/charts/
  valuesInline:
    controller:
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      rbac:
        enabled: true
        openshift:
          privileged: true
      hostNetwork: true
    node:
      rbac:
        openshift:
          privileged: true
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
        localtimeHostPath: null
    csiDriver:
      name: "org.democratic-csi.nvmeof-fast"
    storageClasses:
    - name: freenas-nvmeof-fast-csi
      defaultClass: false
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
      parameters:
        fsType: ext4
        detachedVolumesFromSnapshots: true
        detachedVolumesFromVolumes: true
      mountOptions: []
      secrets:
        provisioner-secret:
        controller-publish-secret:
        node-stage-secret:
        node-publish-secret:
        controller-expand-secret:
    volumeSnapshotClasses: []
    driver:
      existingConfigSecret: "democratic-csi-nvmeof-fast-config"
      config:
        driver: freenas-nvmeof
# ---- NVMe-oF - ssd pool ----
- name: democratic-csi
  namespace: democratic-csi
  includeCRDs: false
  releaseName: democratic-csi-nvmeof-ssd-config
  version: 0.15.1
  repo: https://democratic-csi.github.io/charts/
  valuesInline:
    controller:
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      rbac:
        enabled: true
        openshift:
          privileged: true
      hostNetwork: true
    node:
      rbac:
        openshift:
          privileged: true
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
        localtimeHostPath: null
    csiDriver:
      name: "org.democratic-csi.nvmeof-ssd"
    storageClasses:
    - name: freenas-nvmeof-ssd-csi
      defaultClass: false
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
      parameters:
        fsType: ext4
        detachedVolumesFromSnapshots: true
        detachedVolumesFromVolumes: true
      mountOptions: []
      secrets:
        provisioner-secret:
        controller-publish-secret:
        node-stage-secret:
        node-publish-secret:
        controller-expand-secret:
    volumeSnapshotClasses: []
    driver:
      existingConfigSecret: "democratic-csi-nvmeof-ssd-config"
      config:
        driver: freenas-nvmeof
# ---- NVMe-oF - cold pool ----
- name: democratic-csi
  namespace: democratic-csi
  includeCRDs: false
  releaseName: democratic-csi-nvmeof-cold-config
  version: 0.15.1
  repo: https://democratic-csi.github.io/charts/
  valuesInline:
    controller:
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      rbac:
        enabled: true
        openshift:
          privileged: true
      hostNetwork: true
    node:
      rbac:
        openshift:
          privileged: true
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      driver:
        enabled: true
        image:
          registry: "ghcr.io/democratic-csi/democratic-csi"
          tag: "next"
          pullPolicy: Always
        localtimeHostPath: null
    csiDriver:
      name: "org.democratic-csi.nvmeof-cold"
    storageClasses:
    - name: freenas-nvmeof-cold-csi
      defaultClass: false
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
      parameters:
        fsType: ext4
        detachedVolumesFromSnapshots: true
        detachedVolumesFromVolumes: true
      mountOptions: []
      secrets:
        provisioner-secret:
        controller-publish-secret:
        node-stage-secret:
        node-publish-secret:
        controller-expand-secret:
    volumeSnapshotClasses: []
    driver:
      existingConfigSecret: "democratic-csi-nvmeof-cold-config"
      config:
        driver: freenas-nvmeof