apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: guacamole-postgres
  annotations:
    argocd.argoproj.io/sync-wave: "-50"
spec:
  dataFrom:
  - extract:
      conversionStrategy: Default
      decodingStrategy: None
      key: guacamole-postgres
      metadataPolicy: None
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-sdk-ocp-pull
  target:
    creationPolicy: Owner
    deletionPolicy: Retain