apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: guacamole-postgres-env
  annotations:
    argocd.argoproj.io/sync-wave: "-50"
spec:
  dataFrom:
  - extract:
      conversionStrategy: Default
      decodingStrategy: None
      key: guacamole-postgres
      metadataPolicy: None
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-sdk-ocp-pull
  target:
    template:
      data:
        # Database
        POSTGRESQL_HOSTNAME: &dbhost "guacamole-postgres-rw.guacamole.svc.cluster.local"
        POSTGRESQL_USER: &dbuser "{{ .username }}"
        POSTGRESQL_PASSWORD: &dbpass "{{ .password }}"
        POSTGRESQL_DATABASE: &dbname "guacamole"