apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: ansible-builder
spec:
  workspaces:
  - name: shared-data
  params:
  # Fetch Task
  - name: git-url
    type: string
    description: url of the git repo for the code of deployment
    default: https://github.com/david-igou/rh1-ee.git
  - name: git-revision
    type: string
    description: revision to be used from repo of the code for deployment (Commit id)
    default: main
  - description: Name of the container image to be built
    name: NAME
    type: string
  - description: Tag of the container image to be built
    name: TAG
    type: string
    default: "latest"
  - description: Path to the directory to use as context for buildah.
    name: CONTEXT
    type: string
    default: "context/"
  - description: The path to the Dockerfile to execute.
    name: DOCKERFILE
    type: string
    default: "Containerfile"
  - description: Execution environment file definition.
    name: FILENAME
    type: string
    default: execution-environment.yml
  - description: Skip push of the image to the registry.
    name: SKIP_PUSH
    type: string
    default: "false"
  tasks:

    - name: fetch-source
      taskRef:
        name: git-clone
      workspaces:
      - name: output
        workspace: shared-data
      params:
      - name: url
        value: $(params.git-url)
      - name: revision
        value: $(params.git-revision)
      - name: verbose
        value: "true"

    - name: ansible-builder
      taskRef:
        name: ansible-builder
      workspaces:
      - name: source
        workspace: shared-data
      runAfter:
      - fetch-source
      params:
      - name: FILENAME
        value: $(params.FILENAME)

    - name: build-image
      taskRef:
        resolver: cluster
        params:
        - name: kind
          value: task
        - name: name
          value: buildah-ns
        - name: namespace
          value: openshift-pipelines
      params:
      - name: IMAGE
        value: $(params.NAME):$(params.TAG)
      - name: DOCKERFILE
        value: $(params.DOCKERFILE)
      - name: CONTEXT
        value: $(params.CONTEXT)
      - name: SKIP_PUSH
        value: $(params.SKIP_PUSH)
      - name: VERBOSE
        value: "true"
      workspaces:
      - name: source
        workspace: shared-data
      runAfter:
      - ansible-builder

    # # Build latest tag
    # - name: build-image-tag
    #   taskRef:
    #     name: buildah
    #     kind: ClusterTask
    #   workspaces:
    #   - name: source
    #     workspace: ee-repo
    #   runAfter:
    #   - ansible-builder
    #   params:
    #   - name: TLSVERIFY
    #     value: "false"
    #   - name: IMAGE
    #     value: $(params.NAME):$(params.TAG)
    #   - name: CONTEXT
    #     value: "$(params.CONTEXT)"
    #   - name: DOCKERFILE
    #     value: "$(params.DOCKERFILE)"